<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet> 
  	<servlet-name>Ch3 Beer</servlet-name>
  	<servlet-class>com.example.web.BeerSelect</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Ch3 Beer</servlet-name>
  	<url-pattern>/SelectBeer.do</url-pattern>
  </servlet-mapping>
</web-app>