# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\002-Repository\Java-Gold\grammer-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
