<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mio4.mapper.CardMapper">
    <select id="SelectCardById" parameterType="int" resultType="com.mio4.domain.Card">
        SELECT * FROM TB_CARD WHERE id = #{id}
    </select>

</mapper>