<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--连接MySQL数据库：必须配置-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_day03</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>

        <!--数据库方言：必须配置-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!--自动建表-->
        <property name="hbm2ddl.auto">update</property>

        <!--映射配置文件：必须配置-->
        <mapping resource="com/mio4/domain/Customer.hbm.xml"/>
        <mapping resource="com/mio4/domain/Linkman.hbm.xml"/>

    </session-factory>
</hibernate-configuration>